<!doctype html>
<html lang="en">
  <head>
    <title>MDM SANTOMAS VIỆT NAM</title>
    <script src = "socket.io/socket.io.js"></script>
    <script src = "js/F1_Commons.js"></script>
    <link rel="stylesheet" href="CSS\ScreenHome.css">
    <script>
        var socket = io("localhost:3000"); // IP tĩnh (hoặc IP động, hoặc localhost)
    </script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #e2e8ed;">
        <a class="navbar-brand" style="color:RED; font-weight:1000 ">SANTOMAS VIỆT NAM JSC</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">DOWN</button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <form method="POST" action="/screen_manager" class="form-inline my-2 my-lg-0">
                        <button class="btn btn-secondary btn-lg" type="submit">MANAGER</button>
                    </form>
                </li>
                <li class="nav-item active">
                    <form method="POST" action="/screen_partdata" class="form-inline my-2 my-lg-0">
                        <button class="btn btn-secondary btn-lg" type="submit">PART DATA</button>
                    </form>
                </li>
                <li class="nav-item active">
                    <form method="POST" action="/screen_measuare" class="form-inline my-2 my-lg-0">
                        <button class="btn btn-secondary btn-lg" type="submit">MEASUARE</button>
                    </form>
                </li>
                
                <li class="nav-item active">
                    <form method="POST" action="/screen_checksheet" class="form-inline my-2 my-lg-0">
                        <button class="btn btn-secondary btn-lg" type="submit">CHECK SHEET</button>
                    </form>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:black; font-weight:1000 ">FACTORY</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="#">SVN2</a>
                        <a class="dropdown-item" href="#">SVN3</a>
                    </div>
                </li>
            </ul>
            <form method="POST" action="/screen_checksheet" class="form-inline my-2 my-lg-0">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">LOG OUT</button>
            </form>

        </div>
    </nav>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- ///Jquery/// -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- ///datatable/// -->
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>